* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.album-container {
    display: flex;
    flex-wrap: wrap;
}

.album-container>* {
    width: calc(100% / 3);
    padding: 5px;
}

.card-album {
    text-align: center;
    background: rgb(63, 70, 251);
    background: radial-gradient(circle, rgba(63, 70, 251, 1) 0%, rgba(70, 223, 252, 1) 100%);
    color: white;
    border-radius: 1rem;
}

.card-album img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

p {
    padding-bottom: .4rem;
    padding-top: .4rem;
}

input {
    width: 8rem;
}